* {
    box-sizing: border-box;
}

body {
    background-color: white;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    border: solid red;
}

#app {
    display: grid;
    height: 100vh;
    background: orange;
    grid-template-columns: 100%;
    grid-template-rows: 80px 100px 250px 1fr;
    grid-template-areas: 
    "top-title"
    "main-zip"
    "main-feeling"
    "main-result";
    grid-gap: 1em;
    color: red;

}

.top-title {
    grid-area: top-title;
    display: flex;
    text-align: center;
    background: red;
    color: white;
    font-size: 30px;
    border-radius: 8px;
    justify-content: center;
    align-items: center;   
}

.main-zip {
    grid-area: main-zip;
    display: flex;
    justify-content: center;
}

.zip-title {
    text-align: center;
    justify-self: start;
    font-size: 30px;
    font-weight: bold;
    align-self: center;

}

#zip {
    margin: 10px;
    justify-content: center;
    align-self: center;
}

input[type=text] {
    display: block;
    height: 80%;
    width: 38%;
    border-radius: 8px;
    font-size: 20px;
    border: none;
}

.main-feeling {
    grid-area: main-feeling;
    display: flex;
    justify-content: center;
}

button {
    width: 250px;
    height: 80px;
    color: white;
    font-size: 20px;
    border-radius: 10px;
    align-self: flex-end;
    font-weight: bold;
    background: red;
}

textarea {
    height: 80%;
    width: 50%;
    font-size: 20px;
    border-radius: 8px;
}

.main-result {
    grid-area: main-result;
    display: flex;
    background: white;
    border-radius: 8px;
}

.title {
    color: crimson;
    display: flex;
    font-size: 20px;
    margin-left: 40%;
}

.footer {
    background: red;
    color: white;
    justify-content: center;
    text-align: center;
}



::placeholder { /* Firefox, Chrome, Opera */ 
    color: crimson; 
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

} 
  
:-ms-input-placeholder { /* Internet Explorer 10-11 */ 
    color: crimson; 
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

} 
  
::-ms-input-placeholder { /* Microsoft Edge */ 
    color: crimson; 
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

} 